body {
    background-image: url("assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.nav_bar {
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "logo line nav_bar_content";
}

.logo {
    grid-area: logo;
    margin-top: 1.4rem;
    margin-left: 1.4rem;
}

.line {
    grid-area: line;
    margin-top: 2.6rem;
}

.nav_bar_content {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    margin-top: 1.4rem;
    font-size: .7rem;
    grid-area: nav_bar_content;
    display: grid;
    grid-auto-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    grid-template-areas: "home destination crew technology";
    background-color: rgb(255, 255, 255, .09);
}

.home {
    grid-area: home;
    padding: 0.2rem;
    text-align: center;
    cursor: pointer;
}

.destination {
    grid-area: destination;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 0.2rem;
    text-align: center;
    cursor: pointer;
}

.crew {
    grid-area: crew;
    padding: 0.2rem;
    text-align: center;
    cursor: pointer;
}

.technology {
    grid-area: technology;
    padding: 0.2rem;
    text-align: center;
    cursor: pointer;
}

.crew:hover {
    font-size: 0.8rem;
}

.technology:hover {
    font-size: 0.8rem;
}

.destination:hover {
    font-size: 0.8rem;
}

.home:hover {
    font-size: 0.8rem;
}

.black_line {
    border-color: black;
    border-top: 1px solid rgb(87, 85, 85);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.navbar_text {
    color: rgb(203, 201, 206);
}

.left_side {
    display: grid;
    padding-left: 4rem;
    padding-top: 2rem;
    grid-area: left_side;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas: "pick_destination" "destination_img";
}

.pick_destination {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1.3rem;
    font-weight: 200;
    grid-area: pick_destination;
    padding-top: 2rem;
    padding-left: 7rem;
}

.destination_img {
    grid-area: destination_img;
    padding-left: 5rem;
    padding-top: 2rem;
}

.handling_destination {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "left_side about_destination";
}

.about_destination {
    grid-area: about_destination;
    padding-top: 7rem;
    padding-left: 6rem;
}

.distance_time {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "distance time";
}

.distance {
    grid-area: distance;
}

.time {
    grid-area: time;
}

.planet_img {
    height: 25rem;
}

.one {
    font-family: 'Oswald', sans-serif;
    color: #7F7C82;
}

.destination_activity {
    padding-right: 11rem;
    line-height: 1.6;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    color: #7F7C82;
}

.destination_name {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 4.5rem;
    margin-top: 0;
}

.black_line2 {
    margin-top: 3rem;
    margin-right: 10rem;
    border-color: black;
    border-top: 1px solid rgb(87, 85, 85);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.distance p {
    color: #7F7C82;
    font-family: 'Source Sans 3', sans-serif;
}

.time p {
    color: #7F7C82;
    font-family: 'Source Sans 3', sans-serif;
}

.moon {
    color: #7F7C82;
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    cursor: pointer;
}

.mars {
    color: #7F7C82;
    padding-right: 1rem;
    padding-left: 1rem;
    border-bottom: 2px solid white;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    cursor: pointer;
}

.europa {
    color: #7F7C82;
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    cursor: pointer;
}

.titan {
    color: #7F7C82;
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    cursor: pointer;
}

#avg_distance {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

#travel_time {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}
